table {
    background-color: rgb(155, 214, 214);
    margin: 30px;
    width: 95%;
    border: 1px solid black; 
}

td,
th {
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
}

th {
    font-family: 'Times New Roman', Times, serif;
}

/* tr:nth-child(even) {
    background-color: rgb(182, 177, 177);
  } */


.back_button {
    display: inline;
    font-size: 30px;
    margin: 0px 40px;
}

.back_button:hover {
    background-color: rgb(27, 144, 144);
    color: white;
    padding: 3px;
    border-radius: 7px;
    cursor: pointer;
}

.addEmp {
    margin: 0px 74px;
}

.emp {
    padding: 7px;
    color: white;
    background-color: rgb(27, 144, 144);
    border: none;
    border-radius: 10px;
}

.category {
    color: rgb(27, 144, 144);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 0px 0px 22px;

}

/* .custom-table {
    background-color:  rgb(27, 144, 144);
    margin: 40%;
} */


/* 
:host ::ng-deep .p-datatable{
    background-color:  rgb(27, 144, 144);
    margin: 0px 20px;
} */

/* :host ::ng-deep .p-table {
    background-color: rgb(27, 144, 144) !important;
    margin: 0px 20px;
} */

:host ::ng-deep .p-datatable {
    background-color: rgb(27, 144, 144);
    margin: 0px 50px;
}
